name = "mailfree"
# name = "mail-exhibit"
main = "src/server.js"
compatibility_date = "2024-01-01"

# D1 数据库绑定
[[d1_databases]]
binding = "TEMP_MAIL_DB"
database_name = "maill_free_db" #你的d1数据库名称
database_id = "11b31819-5366-4a30-81fd-ed4939fc3498" # 你的database_id
# 登录会话过期时间（单位：天，默认7天）
# 环境变量
[vars]
# 在 Cloudflare Dashboard -> Workers -> Settings -> Variables 中配置真实值
ADMIN_PASSWORD = "CHANGE_ME"
JWT_TOKEN = "CHANGE_ME"
MAIL_DOMAIN = "example.com"


# 静态资源目录（Workers + Assets）
[assets]
directory = "public"
# 显式指定绑定名，确保在 Worker 中通过 env.ASSETS 可用
binding = "ASSETS"

# wrangler.toml (wrangler v3.88.0^) 日志服务
# [observability.logs]
# enabled = true



